* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body {
  overflow: hidden;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#firstButton {
  border: 1px solid #ffffff4f;
  outline: none;
  padding: 12px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffffba;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 5px;
  background-color: #00000047;
  font-size: 0.5rem;
}

#firstButton:hover {
  background-color: #ffffff6f;
}

.notation {
  position: absolute;
  top: 5px;
  left: 5px;
  color: #ffffffd6;
  font-size: 0.7rem;
}

.active {
  opacity: 1 !important;
}

.none {
  display: none !important;
}

button {
  cursor: pointer;
  overflow: hidden;
}

button:hover img {
  scale: 1.1;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.box {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 20px;
  max-width: 922px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand button {
  width: 200px;
  height: 200px;
  background-color: #818181;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.brand button:hover {
  background-color: #fff;
}

.active-btn-img {
  background-color: #fff !important;
}

.active-btn-img img {
  scale: 1.1;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.brand button img {
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.model {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.model-car {
  width: 220px;
  height: 170px;
  position: relative;
  height: 131px;
}

.model-car:hover span {
  position: relative;
  bottom: 38px;
  color: #ffffffad;
  background-color: #00000073;
  display: block;
  font-size: 1.5rem;
  z-index: 3;
}

.model-car img {
  height: 131px;
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.model-car-active img {
  scale: 1.1;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.model-car-active span {
  position: relative;
  bottom: 38px;
  color: #ffffffad;
  background-color: #00000073;
  display: block !important;
  font-size: 1.5rem;
  z-index: 3;
}

.fuel,
.engine,
.owners {
  height: 60px;
}

.fuel button,
.owners button {
  width: 34%;
  opacity: 0.7;
  font-size: 1.5rem;
}

.engine {
  padding-top: 27px;
}

.engine input[type="range"] {
  height: 13px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  opacity: 0.88;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.engine input[type="range"]:active {
  opacity: 1;
}

.engine input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 0px #353535;
          box-shadow: 0px 0px 0px #353535;
  background: #f66d52;
  border-radius: 3px;
  border: 0px solid #f3c846;
}

.engine input[type="range"]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 6px #353535;
          box-shadow: 0px 0px 6px #353535;
  border: 1px solid #93685d;
  height: 61px;
  width: 35px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -26px;
}

.engine input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f66d52;
}

.engine input[type="range"]::-moz-range-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #353535;
  background: #f66d52;
  border-radius: 3px;
  border: 0px solid #f3c846;
}

.engine input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 6px #353535;
  border: 1px solid #93685d;
  height: 61px;
  width: 35px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
}

.engine input[type="range"]::-ms-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.engine input[type="range"]::-ms-fill-lower {
  background: #f66d52;
  border: 0px solid #f3c846;
  border-radius: 7px;
  box-shadow: 0px 0px 0px #353535;
}

.engine input[type="range"]::-ms-fill-upper {
  background: #f66d52;
  border: 0px solid #f3c846;
  border-radius: 7px;
  box-shadow: 0px 0px 0px #353535;
}

.engine input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 6px #353535;
  border: 1px solid #93685d;
  height: 61px;
  width: 35px;
  border-radius: 7px;
  background: #ffffff;
  cursor: pointer;
}

.engine input[type="range"]:focus::-ms-fill-lower {
  background: #f66d52;
}

.engine input[type="range"]:focus::-ms-fill-upper {
  background: #f66d52;
}

.engine label {
  font-size: 1rem;
  opacity: 0.77;
}

.brand,
.models-car,
.fuel,
.owners, .engine, .price, .result {
  -webkit-animation: toDown 0.5s ease-in-out;
          animation: toDown 0.5s ease-in-out;
}

@-webkit-keyframes toDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes toDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#firstButton {
  -webkit-animation: zoom 1s ease alternate infinite;
          animation: zoom 1s ease alternate infinite;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
/*# sourceMappingURL=style.css.map */