* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  transition: 0.5s ease;
}
body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#firstButton {
  border: 1px solid #ffffff4f;
  outline: none;
  padding: 12px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffffba;
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 5px;
  background-color: #00000047;
  font-size: 0.5rem;
  &:hover {
    background-color: #ffffff6f;  }
}
.notation {
  position: absolute;
  top: 5px;
  left: 5px;
  color:#ffffffd6;
  font-size: 0.7rem;
}
.active {
  opacity: 1 !important;
}
.none {
  display: none !important;
}
button {
  cursor: pointer;
  overflow: hidden;
  &:hover {
    img {
      scale: 1.1;
      filter: brightness(1);
    }
  }
}
img {
  filter: brightness(0.5);
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  // width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  filter: brightness(0.5);
}
.box {
  position: relative;
  z-index: 1;
  color: #fff;
  text-align: center;
  padding: 20px;
  max-width: 922px;
}
form div {
  display: flex;
  justify-content: space-between;
}
.brand button {
  width: 200px;
  height: 200px;
  background-color: #818181;
  transition: 0.5s ease;
  &:hover {
    background-color: #fff;
  }
}
.active-btn-img {
  background-color: #fff !important;
  img {
    scale: 1.1;
    filter: brightness(1);
  }
}
.brand button img {
  width: 100%;
  transition: 0.5s ease;
}
.model {
  display: flex;
}
.model-car {
  width: 220px;
  height: 170px;
  position: relative;
  height: 131px;
  &:hover {
    span {
      position: relative;
      bottom: 38px;
      color: #ffffffad;
      background-color: #00000073;
      display: block;
      font-size: 1.5rem;
      z-index: 3;
    }
  }
}
.model-car img {
  height: 131px;
  width: 100%;
  transition: 0.5s ease;
}

.model-car-active {
  img {
    scale: 1.1;
    filter: brightness(1);
  }
  span {
    position: relative;
    bottom: 38px;
    color: #ffffffad;
    background-color: #00000073;
    display: block !important;
    font-size: 1.5rem;
    z-index: 3;
  }
}
.fuel,
.engine,
.owners {
  height: 60px;
}
.fuel,
.owners {
  button {
    width: 34%;
    opacity: 0.7;
    font-size: 1.5rem;
  }
}
.engine {
  padding-top: 27px;
  input[type="range"] {
    height: 13px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    opacity: 0.88;
    transition: opacity 0.3s ease;
  }
  input[type="range"]:active {
    opacity: 1;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #353535;
    background: #f66d52;
    border-radius: 3px;
    border: 0px solid #f3c846;
  }
  input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 6px #353535;
    border: 1px solid #93685d;
    height: 61px;
    width: 35px;
    border-radius: 7px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -26px;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #f66d52;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #353535;
    background: #f66d52;
    border-radius: 3px;
    border: 0px solid #f3c846;
  }
  input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 6px #353535;
    border: 1px solid #93685d;
    height: 61px;
    width: 35px;
    border-radius: 7px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 13px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: #f66d52;
    border: 0px solid #f3c846;
    border-radius: 7px;
    box-shadow: 0px 0px 0px #353535;
  }
  input[type="range"]::-ms-fill-upper {
    background: #f66d52;
    border: 0px solid #f3c846;
    border-radius: 7px;
    box-shadow: 0px 0px 0px #353535;
  }
  input[type="range"]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 6px #353535;
    border: 1px solid #93685d;
    height: 61px;
    width: 35px;
    border-radius: 7px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #f66d52;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #f66d52;
  }
}
.engine {
  label {
    font-size: 1rem;
    opacity: 0.77;
  }
}

//////
// form {
//   min-height: 600px;
//   width: 77%;
//   display: flex;
//   flex-direction: column;
//   border: 1px solid;
//   padding: 20px;
//   div {
//     border-bottom: 4px solid;
//     padding: 20px;
//   }
// }
.brand,
// .model,
.models-car,
.fuel,
.owners, .engine, .price, .result {
  animation: toDown 0.5s ease-in-out;
}

@keyframes toDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#firstButton {
  animation: zoom 1s ease alternate infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);  }
  100% {
    transform: scale(1.05);  }
}